{% extends 'app1/base.html' %}

{% block content %}

<div class="container mb-5">
    <h4 class="mt-4">about</h4>
    <p><a href="https://ryopenguin.com/">ryopenguin</a>が作った画像加工アプリ</p>
    <h4 class="mt-4">技術要素</h4>
    <ul>
        <li>Django</li>
        <li>OpenCV</li>
        <li>heroku</li>
        <li>Google cloud storage</li>
    </ul>
    <h4 class="mt-4">使い方/h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X2QTcqVO7Nk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}