{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142748858-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142748858-3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'app1/ico/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">
    <title>画像加工くん</title>
</head>

<body class="d-flex flex-column" style="min-height: 100vh">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">画像加工くん</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'example' %}">examle</a>
                </li>
            </ul>

        </div>
    </nav>

    <main class="mb-auto">
        <div class="container">
            <h3 class="mt-4">3ステップで画像を白黒処理 or 顔モザイク処理できます</h3>
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
          <p class="text-muted">ryopenguin © All Rights Reserved</p>
        </div>
    </footer>

    <script src="{% static 'app1/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'app1/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>