{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">
    <title>Upload</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% for item in obj %}
    <tr>
        <td>{{item.description}}</td>
        <td><img src="{{ item.photo.url }}" width='100' height='100' /></td>
        <td>{{ item.uploaded_at }}</td>
    </tr>
    {% endfor %}

    <script src="{% static 'cms/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'cms/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>